import(arules)


## documented
export(CELLector.cna_look_up)
export(CELLector.mostSupported_CFEs)
export(CELLector.Build_Search_Space)
export(CELLector.unicizeSamples)
export(CELLector.createAllSignatures)
export(CELLector.solveFormula)
export(CELLector.buildModelMatrix)

## not documented
export(CELLector.makeSelection)

exportPattern("^[[:alpha:]]+")

