import(arules)
import(igraph)
import(stringr)
import(data.tree)
import(grDevices)
import(RCurl)
import(readr)

importFrom("methods", "as")
importFrom("stats", "start")

import(collapsibleTree)
import(dplyr)
import(sunburstR)


export(CELLector.cna_look_up)
export(CELLector.mostSupported_CFEs)
export(CELLector.Build_Search_Space)
export(CELLector.unicizeSamples)
export(CELLector.createAllSignatures)
export(CELLector.solveFormula)
export(CELLector.buildModelMatrix)
export(CELLector.makeSelection)
export(CELLector.selectionVisit)
export(CELLector.changeSScolors)
export(CELLector.visualiseSearchingSpace)
export(CELLector.visualiseSearchingSpace_sunBurst)
exportPattern("^[[:alpha:]]+")

